/* RESET ESTILOS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* ESTILOS GENÉRICOS*/  
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-image: url("../images/missing_textures.png");
    background-repeat: repeat;
    padding: 2vh 2vh; /* Ajustado a unidades de vista de altura */
    position: relative;
}

.language-selector {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1vh 0;
    /* Ajustado a unidades de vista de altura */
    margin-bottom: 10px;
    /* Ajusta según sea necesario */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 1.5vw; /* Ajustado a unidades de ancho de vista */
    cursor: pointer;
    transition: color 0.3s ease;
}


nav li a {
    text-decoration: none;
    color: inherit;
}

nav li:hover {
    color: rgb(190, 0, 220);
    font-weight: bold;
}

main {
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-image {
    max-width: 25%;
    height: auto;
}

footer {
    background-image: url("../images/missing_textures.png");
    background-repeat: repeat;
    text-align: center;
    padding: 2vh;
    margin-top: auto;
    width: 100%;
    position: absolute;
    bottom: 0;

}

/*ESTILOS MÓVIL*/
@media (min-width: 360px) and (max-width: 767px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}

/*ESTILOS TABLET*/
@media (min-width: 768px) and (max-width: 1199px) {
    header {
        text-align: left;
        position: relative;
    }
    .language-selector {
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
    }
    footer {
        position: absolute;
        bottom: 0;
    }
}

/*ESTILOS PC*/
@media (min-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        text-align: center;
        position: relative;
    }

    .language-selector {
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}
