* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgb(237, 220, 244);
    text-align: center;
    padding: 2vh 0; /* Ajustado a unidades de vista de altura */
    position: relative;
}

.language-selector {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1vh 0; /* Ajustado a unidades de vista de altura */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1.5vw; /* Ajustado a unidades de ancho de vista */
    cursor: pointer;
    transition: color 0.3s ease;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

nav li:hover {
    color: rgb(190, 0, 220);
    font-weight: bold;
}

section {
    width: 90%;
    max-width: 800px;
    margin: 2vh auto; /* Ajustado a unidades de vista de altura */
    padding: 2vw; /* Ajustado a unidades de ancho de vista */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

footer {
    background-color: rgb(237, 220, 244);
    text-align: center;
    padding: 2vh; /* Ajustado a unidades de vista de altura */
    margin-top: auto;
    width: 100%;
}
